---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact | Nahome Hagos">
  <div>
    <h2>Contact</h2>
    
    <p>Feel free to reach out to me using any of the methods below:</p>
    
    <ul>
      <li>Email: <a href="mailto:example@email.com">example@email.com</a></li>
      <li>GitHub: <a href="https://github.com/yourusername">@yourusername</a></li>
      <li>Twitter: <a href="https://twitter.com/yourusername">@yourusername</a></li>
    </ul>
  </div>
</Layout> 